body {
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cutive Mono', monospace;
}
div {
    text-align: center;
    background: white;
    font-size: 14px;
    position: absolute;
    width: 260px;
}
img {
/*    position: absolute;
    left: 50%;
    width: 800px;
    margin-left: -400px;*/
    margin: -8px auto auto -8px;
}
a {
    color: grey;
    text-decoration: underline;
}
a:hover {
    color: red;
    text-decoration: none;
}
