body {
    font-size: .9vw;
    text-align: right;
    color: skyblue;
    background-image: url('img/me.jpg');
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: floralwhite;
    position: absolute;
    top: 3vw;
    left: 25%;
}
h1 {
    font-size: 1.1vw;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: normal;
}
h1 em {
    letter-spacing: 0px;
}
a {
    color: skyblue;
    text-shadow: blue 0.8px 0px;
}
a:hover {
    color: blue;
}
a:active {
    color: red;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: 36vw;
        background-position: top right 25%;
        font-size: 3.8vw;
        left: 5%;
        top: 51vw;
        text-align: left;
    }
    h1 {
        font-size: 4.5vw;
    }
}