---
layout: layouts/base.njk
---
{%- css %}
body {
    margin: 0;
    padding: 0 25px 0 25px;
    max-width: 1080px;
}
header {
    margin-top: 20px;
}
header, footer {
    margin-bottom: 20px;
}
.top-space {
    margin-top: 100px;
}
footer a,
a.bookmark {
    text-shadow: none;
}
.up-arrow {
    font-size: 1.4em;
    margin-right: 3px;
}
{% endcss %}

<header>
	<a href="/"><span class="up-arrow">&uarr;</span>HOME</a>
	<h1>{{ heading | safe}}</h1>
</header>

<main>
{{ content | safe }}
</main>

<footer class="top-space">
	<a href="https://potato.cheap/" target="_blank" aria-label="Potato" title="This website is a potato.">&#129364;</a>
</footer>
