body {
  margin: 0;
  padding: 0;
}
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  max-width: 1080px;
}
header {
  margin-top: 20px;
}
main {
  flex: 1;
}
.top-space {
  margin-top: 100px;
}
footer {
  margin-bottom: 20px;
  font-size: 0.8em;
  line-height: 27px;
}
footer svg {
  vertical-align: sub;
}
a #potato,
a.bookmark {
  text-shadow: none;
}
.up-arrow {
  font-size: 1.4em;
  margin-right: 3px;
}
