---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/index.css" %}{% endcss %}

<h1>matthew nash <em>video artist</em></h1>
<p>&#127758; <strong>portland, oregon</strong></p>
<nav>
    <p>
        <a href="videos">&#128249; videos</a>
        <a href="sounds">&#127911; sounds</a>
        <a href="tools">&#128295; tools</a>
    </p>
    <p>
        &#128279;   
        <a href="https://github.com/nashingofteeth" title="github">gh</a>
        <a href="https://letterboxd.com/nashingofteeth/" title="letterboxd">lb</a>
        <a href="https://rateyourmusic.com/~nashingofteeth" title="rate your music">rym</a>
        <a href="https://www.tiktok.com/@nashingteeth" title="tiktok">tt</a>
    </p>
</nav>
<p>&#128233; <strong>matthew at nash dot video</strong></p>
