---
layout: layouts/collection.njk
title: tools - matthew nash
heading: "&#128295;&nbsp;TOOLS"
---
{%- css %}
body {
	background-color: HoneyDew;
	color: DarkGreen;
}
a {
    color: SeaGreen;
    text-shadow: SeaGreen 0.8px 0px;
}
a:active {
    color: Violet;
}
footer a {
    text-shadow: none;
}
footer {
	position: absolute;
	bottom: 0;
	left: 40px;
}
{% endcss %}

<article>
<p>
	<a href="ratio">aspect ratio calculator</a>
</p>
<p>
	<a href="sand">html editor</a>
</p>
<p>
	<a href="mt">metric clock</a>
</p>
<p>
	<a href="bolus-calculator">bolus calculator</a>
</p>
<p>
	<a href="color">random color</a>
</p>
<p>
	<a href="randBet">random number between</a>
</p>
<p>
	<a href="unicode">ascii -> unicode</a>
</p>
<p>
	<a href="charShuff">word shuffler</a>
</p>
<a href="charPerms">word permuter</a>
</article>