/* For the "inset" look only */
html {
    overflow: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background-color: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: white; 
}
body {
background: url('http://humdrum.media/tyler/ocw/beardance.gif');
background-size: 100%;
color: white;
text-align: center;
font-size: 20px;
font-family: OSPDIN;
position: absolute;
top: 0px;
left: 0px;
bottom: 0px;
right: 0px;
overflow-y: scroll;
overflow-x: hidden;
/width: 1400px;
}
#loading {
text-align: center;
margin-top: 15%;
font-size: 50px;
font-weight: bold;
color: white;
}
#main {
display: none;
margin: auto;
background-color: black;
background-color: rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 0px 0px 2px grey, 0px 0px 4px black;
-moz-box-shadow: 0px 0px 2px grey, 0px 0px 4px black;
width: 700px;
height: 1125px;
padding-top: 85px;
margin-top: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
padding-bottom: 10px;
}
header {
font-family: ShowcardGothicRegular;
text-shadow: 0 0 5px #fff;
font-size: 50px;
position: absolute;
margin: auto;
top: 25px;
width: 700px;
cursor: pointer;
background-color: rgba(0, 0, 0, 0.0);
}
a {
color: white;
}
a:hover {
text-decoration: none;
}
#episodes a:hover {
}
#episodes {
width: 600px;
margin: auto;
text-align: left;
}
#episodes a {
    text-decoration: none;
}
#episodes b {
font-size: 25px;
}
.episode {
    width: 180px;
    height: 128px;
    padding: 10px;
    float: left;
    opacity: .8;
}
#notinthecards {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/notinthecards.png');
}
#notinthecards:hover {
    color: white;
    background: none;
}
#season2trailer {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/season2trailer.png');
}
#season2trailer:hover {
    color: white;
    background: none;
}
#war {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/war.png');
}
#war:hover {
    color: white;
    background: none;
}
#file {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/file.jpg');
}
#file:hover {
    color: white;
    background: none;
}
#clip {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/clip.jpg');
}
#clip:hover {
    color: white;
    background: none;
}
#karate {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/karate.png');
}
#karate:hover {
    color: white;
    background: none;
}
#cooking {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/cooking.png');
}
#cooking:hover {
    color: white;
    background: none;
}
#epic {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/epic.png');
}
#epic:hover {
    color: white;
    background: none;
}
#valentines {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/valentines.png');
}
#valentines:hover {
    color: white;
    background: none;
}
#silent {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/silent.png');
}
#silent:hover {
    color: white;
    background: none;
}

#ghost {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/ghost.png');
}
#ghost:hover {
    color: white;
    background: none;
}
#survivor {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/survivor.png');
}
#survivor:hover {
    color: white;
    background: none;
}
#sock {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/sock.png');
}
#sock:hover {
    color: white;
    background: none;
}
#pilot {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/pilot.png');
}
#pilot:hover {
    color: white;
    background: none;
}
#trailer {
    color: transparent;
    background: url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/posters/trailer.png');
}
#trailer:hover {
    color: white;
    background: none;
}
.people {
font-size: 15px;
text-align: left;
}
.people div {
padding: 5px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
cursor: pointer;
height: 140px;
width: 170px;
background-size:100% 100%;
}
#people {
position: absolute;
top: 20px;
left: 30px;
}
#links {
position: absolute;
top: 20px;
right: 30px;
}
#tyler {
background-image:url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/people/tyler.JPG');
}
#jake {
background-image:url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/people/jake.JPG');
}
#matthew {
background-image:url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/people/matthew.JPG');
}
#alex {
background-image:url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/people/alex.JPG');
}
#dakota {
background-image:url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/people/dakota.JPG');
}
#facebook {
background-image:url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/pictures/ocwprofpics/valentinesday.png');
font-size: 40px;
}
#foolishnessfeed {
background-image:url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/pictures/battlecat.jpg');
font-size: 17px;
cursor: pointer;
}
#razzlecraft {
background-image:url('http://nashma4.appspot.com/dl.dropbox.com/u/7984474/projects/Our%20Cool%20Webshow/pictures/razzlecraft.png');
font-size: 15px;
font-family: sans-serif;
text-decoration: none;
cursor: pointer;
}
#razzlecraft b {
font-size: 25px;
font-family: 'BebasRegular';
}
#credits {
background-color: rgba(0, 0, 0, 0.7);
font-size: 15px;
}
#rewards {
font-size: 20px;
font-style: italic;
}
#rewards span {
padding-right: 20px;
}
footer {
margin-bottom: 100px;
font-size: 15px;
}
video {
width: 555px;
height: 440px;
}
.button {
  background-color: hsl(195, 60%, 35%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="hsl(195, 60%, 45%)", endColorStr="hsl(195, 60%, 35%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(195, 60%, 45%)), to(hsl(195, 60%, 35%)));
  background-image: -moz-linear-gradient(top, hsl(195, 60%, 45%), hsl(195, 60%, 35%));
  background-image: -ms-linear-gradient(top, hsl(195, 60%, 45%), hsl(195, 60%, 35%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(195, 60%, 45%)), color-stop(100%, hsl(195, 60%, 35%)));
  background-image: -webkit-linear-gradient(top, hsl(195, 60%, 45%), hsl(195, 60%, 35%));
  background-image: -o-linear-gradient(top, hsl(195, 60%, 45%), hsl(195, 60%, 35%));
  background-image: linear-gradient(hsl(195, 60%, 45%), hsl(195, 60%, 35%));
  border-color: hsl(195, 60%, 35%) hsl(195, 60%, 35%) hsl(195, 60%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
  padding: 4px;
  -webkit-border-radius: 15px;
text-decoration: none;
margin-left: 5px;
font-size: 10px;
margin-bottom: 50px;
}
.button:hover {
background-position: 0 -15px;
color: #333;
}
#ffheader {
font-family: SFSlapstickComicRegular;
font-size: 30px;
margin-top: 15px;
}
#ff {
display: inline;
margin-left: -50px;
float: left;
padding-right: 20px;
}
#ff li {
list-style-type: none;
}
#version {
    font-size: 12px;
    color: white;
    position: fixed;
    bottom: 3px;
    right: 20px;
}